@font-face {
font-family:"url(Fonts/Movement-DirectBlack.woff2";
src: url(Fonts/pressuru.woff);
}


body{
    background: #202021;
    background: linear-gradient(0deg,rgb(29, 28, 28) 53%, rgba(255, 255, 255, 1) 100%);
    font-family: "url(Fonts/Movement-DirectBlack.woff2", serif;

}



img {
    max-width: 100%; /* Bild passt sich Container an */
    height: auto; /* Bild passt sich Container an */
}


.grid-container {
    display: grid;
    padding: 25px;  /* Ränder um unseren Grid-Container, 15px/20px = ObenUnten/RechtsLinks, Uhrzeigersinn*/
    column-gap: 15px; 

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* fr = Fraction, Bruchteil von ganzer Fläche */
    grid-template-areas: 

        " name name name name name name . .  "
        " . . bio bio bio bio . . "
        " . . . . . . . . "
        " . image-3 . image-1 . image-2 . . "
        " . . . . . . . . "
        " . . . . . . . . "
        " . title-1 title-1 . . . . . "
        " . repro-1 repro-1 . . beschrieb-1 beschrieb-1 . "
        " . title-2 title-2 . . . . . "
        " . repro-2 repro-2 . . beschrieb-2 beschrieb-2 . "
        " . title-3 title-3 . . . . . "
        " . repro-3 repro-3 . . beschrieb-3 beschrieb-3 . "
        " . . . . . . . . "
        " kontakt kontakt kontakt . . . . ";
}

/* ------------------RASTER ELEMENTE--------------------- */

.name {
    grid-area: name;
    position: relative;
}
        .name h1 {
            font-size: 150px;
            /* Spricht nur den Text in der Box an */
            align-self: center;
            text-align: center;
            margin-bottom: 30;
            color:white;
        }


.kontakt{
grid-area: kontakt;
color: rgb(159, 8, 8);
}

.bio {
    grid-area: bio;
    color: white;
    align-self: center;
    text-align: center;
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgb(159, 8, 8);
}

        


.title-1 {
    grid-area: title-1;
    font-size: 20px;
    color: white;
}


.title-2 {
    grid-area: title-2;
    font-size: 20px;
    color: white;
}

.title-3 {
    grid-area: title-3;
    font-size: 20px;
    color: white;
}

.beschrieb-1 {
    grid-area: beschrieb-1;
    font-size: 15px;
    color: white;
    text-align: center;    

}

.beschrieb-2 {
    grid-area: beschrieb-2;
    font-size: 15px;
    color: white;  
    text-align: center;  

}

.beschrieb-3 {
    grid-area: beschrieb-3;
    font-size: 15px;
    color: white;
    text-align: center;
}


/* 
.image-1 {
    grid-area: image-1;
    position:relative;
}

.image-2 {
    grid-area: image-2;
    position: relative; 
}

.image-3 {
    grid-area: image-3;
    position: relative; 
}
 */


 /* 
.repro-1 {
    grid-area: repro-1;
    position: relative; 
}

.repro-2 {
    grid-area: repro-2;
    position: relative; 
}

.repro-3 {
    grid-area: repro-3;
    position: relative; 
}
 */