@font-face {
font-family:"Avara-Bold";
src: url("Fonts/Avara-Bold.woff2") format("woff");
}


body{
    font-family: "Avara-Bold", serif;
  background: #000000;
background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, lab(100% 0.01 -0.01) 100%);
}



img {
    max-width: 100%; /* Bild passt sich Container an */
    height: auto; /* Bild passt sich Container an */
}

.grid-container {
display: grid;
padding: 25px;  /* Ränder um unseren Grid-Container, 15px/20px = ObenUnten/RechtsLinks, Uhrzeigersinn*/
gap: 15px;
margin: 0; 

grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* fr = Fraction, Bruchteil von ganzer Fläche */
grid-template-areas: 
" . name name name . "
" . image-1 . . . "
" . . image-2 image-2. "
" . . . . . "
" . image-3 . . . "
" . . . . text-1 ";
}

.name {
    grid-area: name;
    /* Spricht die ganze Box an */
}

.name h1 {
    font-size: 100px;
    /* Spricht nur den Text in der Box an */
    align-self: center;
    text-align: center;
    margin-bottom: 30;
    color:rgb(0, 0, 0);
}

.bio {
    grid-area: bio;
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}


.text-1 {
    grid-area: text-1;
    font-size: 20px;
    color: white
}



.text-2 {
    grid-area: text-2;
    font-size: 20px;
    color: white
}

.text-3 {
    grid-area: text-3;
    font-size: 20px;
    
}




