@font-face {
font-family:"Pressuru";
src: url(Fonts/pressuru.woff);
}


body{
    background-color: rgb(29, 28, 28);
    font-family: "Pressuru", serif;
    cursor: url("Data/Pointer.png") 10 10, default;
}


a:hover {
  cursor: url("Data/Cursor.png") 10 10, default;
}

img {
    max-width: 100%; /* Bild passt sich Container an */
    height: auto; /* Bild passt sich Container an */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* fr = Fraction, Bruchteil von ganzer Fläche */
    padding: 10px;  /* Ränder um unseren Grid-Container, 15px/20px = ObenUnten/RechtsLinks, Uhrzeigersinn*/
    column-gap: 5px; 

    grid-template-areas: 
        " name name name name name name . . . "
        " . . bio bio bio bio . . . "
        " . . . . . . . . . "
        " . image-3 image-3 image-1 image-1 image-2 image-2 . . "
        " . . . . . . . . . "
        " . . . . . . . . . "
        " . text-1 text-1 . . . . . . "
        " . . repro-1a repro-1b repro-1c repro-1d repro-1e . . "
        " . . beschrieb-1 beschrieb-1 . . . . . "
        " . text-2 text-2 . . . . . . "
        " . . repro-2a repro-2b repro-2c repro-2d repro-2e . . "
        " . . beschrieb-2 beschrieb-2 . . . . . "
        " . text-3 text-3 . . . . . . "
         " . . repro-3a repro-3b repro-3c repro-3d repro-3e . . "
         " . . beschrieb-3 beschrieb-3 . . . . . "
        " . kontakt kontakt . . . . . . "
        " . . . . . . . . . ";

}

/* ------------------RASTER ELEMENTE--------------------- */

.name {
    grid-area: name;
    position: relative;
}
.name h1 {
    font-size: 150px;
    /* Spricht nur den Text in der Box an */
    margin-bottom: 30px;
    color:white;
  }

     /* Text-align: Justify/ right/ left etc. */

.kontakt{
grid-area: kontakt;
}




.bio {
    grid-area: bio;
    color: white;
    align-self: center;
    text-align: center;
    font-size: 30px;
}




a {color: white;
    text-decoration: none;
}




.image-1 {
    grid-area: image-1;       
    position: relatve;
}
.image-2 {
    grid-area: image-2;       
    position: relative;
}
.image-3 {
    grid-area: image-3;       
    position: relative;
}




.text-1 {
    grid-area: text-1;
    font-size: 20px;
    color: white;
}
.text-2 {
    grid-area: text-2;
    font-size: 20px;
    color: white;
}
.text-3 {
    grid-area: text-3;
    font-size: 20px;
    color: white;
}




.beschrieb-1 {
    grid-area: beschrieb-1;
    font-size: 15px;
    color: white;
    text-align: center;    

}
.beschrieb-2 {
    grid-area: beschrieb-2;
    font-size: 15px;
    color: white;  
    text-align: center;  

}
.beschrieb-3 {
    grid-area: beschrieb-3;
    font-size: 15px;
    color: white;
    text-align: center;
}




.repro-1a {
    grid-area: repro-1a;
    position: relative; 
}
.repro-1b {
    grid-area: repro-1b;
    position: relative; 
}
.repro-1c {
    grid-area: repro-1c;
    position: relative; 
}
.repro-1d {
    grid-area: repro-1d;
    position: relative; 
}
.repro-1e {
    grid-area: repro-1e;
    position: relative; 
}



.repro-2a {
    grid-area: repro-2a;
    position: relative; 
}
.repro-2b {
    grid-area: repro-2b;
    position: relative; 
}
.repro-2c {
    grid-area: repro-2c;
    position: relative; 
}
.repro-2d {
    grid-area: repro-2d;
    position: relative; 
}
.repro-2e {
    grid-area: repro-2e;
    position: relative; 
}




.repro-3a {
    grid-area: repro-3a;
    position: relative; 
}
.repro-3b {
    grid-area: repro-3b;
    position: relative; 
}
.repro-3c {
    grid-area: repro-3c;
    position: relative; 
}
.repro-3d {
    grid-area: repro-3d;
    position: relative; 
}
.repro-3e {
    grid-area: repro-3e;
    position: relative; 
}